.row{
    background-color: darkgrey;
    width: 50%;
    height: 500px;
    position: relative;
    
}
.col{
    width: 100px;
    height: 300px;
    background-color: blueviolet;
    border: 3% solid black;
    position: absolute;
    

}
.col1{
    background-color: rgb(3, 239, 7);
    left: 5px;
    top: 50px;
}
.col2{
    background-color: rgb(221, 250, 1);
    left: 125px;
    top: 50px;
}
.col3{
    background-color: rgb(85, 15, 165);
    left: 255px;
    top: 50px;
}
.col4{
    background-color: rgb(208, 14, 14);
    left: 380px;
    top: 50px;
}
